h1 {
	font-family: 'Abril Fatface', cursive;
	font-weight: normal;
	text-align: center;
	font-size: 160px;
}
p {
	font-family: 'Cardo', serif;
	text-align: center;
	font-style: italic;
	font-size: 20px;
}
#par {
	position: relative;
}
#h0, #h1 {
	position: absolute;
	width: 100%;
}
#h1 {
	right: -8px;
	color: #BA0C2F;
	opacity: .8;
}
#h0 {
	color: #7A7D81;
	opacity: .8;
}
